body {
    background-color: #82BBD7;
}
#content {
    display: inline-block;
    margin:0 auto;
    /*position: absolute;*/
    /*bottom: 50%;*/
}
#logo {
    width: 120px;
    height: 120px;
    background-color: #20507B;
    border-radius: 50%;
    border-style:solid;
    border-width:5px;
    border-color: #8497b0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
#logo img {
    width: 80px;
    padding-left: 32px;
    padding-top: 10px;
}
#content textarea {
    width: 600px;
    height: 200px;
    border-style:solid;
    border-width:5px;
    border-color: #8497b0;
}