<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sliding NavBar</title>
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
</head>

<body>
    <style>
    body {
        margin: 0;
        padding: 0;
        font-family:'Roboto', sans-serif;
    }
    #signIn {
        margin-left: 900px;
        /*background-color: #8497b0;*/
        position: absolute;
        top: -420px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    #signIn:hover {
        top: 0px;
    }
    #download {
        width: 300px;
        height: 50px;
    }
    </style>
    <div id="signIn">
        <div class="row">
            <form class="form-signin" role="form" _lpchecked="1">
                <h2 class="form-signin-heading">sign in</h2>
                <input type="email" class="form-control" placeholder="email address" required="" autofocus="" autocomplete="off">
                <input type="password" class="form-control" placeholder="password" required="" autocomplete="off">
                <br>
                <button class="btn btn-lg btn-primary btn-block" ng-click="download()" type="submit">download</button>
            </form>
            <form class="form-signin" role="form" _lpchecked="1">
                <h2 class="form-signin-heading">sign up</h2>
                <input type="name" class="form-control" placeholder="first name" required="" autofocus="" autocomplete="off">
                <input type="name" class="form-control" placeholder="last name" required="" autofocus="" autocomplete="off">
                <input type="email" class="form-control" placeholder="email address" required="" autofocus="" autocomplete="off">
                <input type="password" class="form-control" placeholder="password" required="" autocomplete="off">
                <br>
            </form>
            <div id="download">
                <button class="btn btn-lg btn-primary btn-block" ng-click="download()" type="submit">download</button>
            </div>
        </div>
    </div>

</body>

</html>